<a href="https://colab.research.google.com/github/Sereenamariyam/Python_assignment/blob/main/Pandas_case_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# URL of the dataset
url = "https://raw.githubusercontent.com/laxmimerit/All-CSV-ML-Data-Files-Download/master/IMDB-Movie-Data.csv"

# Load the dataset into a pandas DataFrame
df = pd.read_csv(url)

# Display the first 5 rows
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [ ]:
print("Shape:", df.shape)

Shape: (1000, 12)

In [ ]:
print("\nHead:\n", df.head())  # Shows the first 5 rows

Head:
    Rank                    Title                     Genre  \
0     1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1     2               Prometheus  Adventure,Mystery,Sci-Fi
2     3                    Split           Horror,Thriller
3     4                     Sing   Animation,Comedy,Family
4     5            Suicide Squad  Action,Adventure,Fantasy

                                         Description              Director  \
0  A group of intergalactic criminals are forced ...            James Gunn
1  Following clues to the origin of mankind, a te...          Ridley Scott
2  Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3  In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4  A secret government agency recruits some of th...            David Ayer

                                              Actors  Year  Runtime (Minutes)  \
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014                121
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012                124
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016                117
3  Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016                108
4  Will Smith, Jared Leto, Margot Robbie, Viola D...  2016                123

   Rating   Votes  Revenue (Millions)  Metascore
0     8.1  757074              333.13       76.0
1     7.0  485820              126.46       65.0
2     7.3  157606              138.12       62.0
3     7.2   60545              270.32       59.0
4     6.2  393727              325.02       40.0

In [ ]:
print("\nColumns:", df.columns.tolist())        # Lists column names.
#df.columns gives you the column names of the DataFrame.
#.tolist() - This converts the Index object (which is not a plain list) into a regular Python list.

Columns: ['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)', 'Metascore']

In [ ]:
print("\nData types:\n", df.dtypes)             # Shows datatype of each column

Data types:
 Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

In [ ]:
print("\nMissing values:\n", df.isnull().sum()) # Counts missing values per column
#df.isnull() -This checks the entire DataFrame for missing values (nulls). It returns a DataFrame of the same shape, but with True where the value is missing (NaN) and False where it's not.

Missing values:
 Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [ ]:
df.drop_duplicates(inplace=True)
print("\nShape after removing duplicates:",df.shape)
#inplace=True. This means the change is made directly in the original DataFrame (df), and it doesn’t return a new DataFrame.
#If you write inplace=False (or don’t write it at all), then it returns a new DataFrame with duplicates removed, and the original df stays the same.

Shape after removing duplicates: (1000, 13)

In [ ]:
df.rename(columns={"Title": "Movie_Title"}, inplace=True)
#This tells Pandas:👉 Rename the column named "Title" to "Movie_Title".

# Get unique genres

In [3]:
unique_genres = set() #Creates an empty set to store unique genres (sets automatically remove duplicates).

for genre_string in df['Genre'].dropna(): #Loops through each non-empty genre string (like "Action, Comedy").
# df['Genre'] - This accesses the Genre column in your DataFrame. It returns a Series (a one-dimensional array-like structure) containing all the values under the 'Genre' column.
#.dropna() - This function removes any NaN (missing) values from the Series.

    for genre in genre_string.split(','): #for ... in ...: This is a for loop.It will iterate through each item in a list.
    #genre_string - This is a string that contains multiple genres separated by commas. Example: "Action, Comedy, Drama" .split(',') This splits the string into a list of genres using , as the separator. Example: "Action, Comedy, Drama".split(',') becomes ['Action', ' Comedy', ' Drama']

        unique_genres.add(genre.strip()) #Adds each genre to the set after removing extra spaces with strip().

print("Unique genres:", list(unique_genres))

Unique genres: ['Fantasy', 'Biography', 'Western', 'Crime', 'Sci-Fi', 'Music', 'Mystery', 'War', 'Action', 'Sport', 'Drama', 'Adventure', 'Thriller', 'Family', 'Horror', 'Animation', 'History', 'Comedy', 'Romance', 'Musical']

# Extract number of genres per movie

In [4]:
df['Genre_Count'] = df['Genre'].str.count(',') + 1
print(df[['Genre', 'Genre_Count']])

                        Genre  Genre_Count
0     Action,Adventure,Sci-Fi            3
1    Adventure,Mystery,Sci-Fi            3
2             Horror,Thriller            2
3     Animation,Comedy,Family            3
4    Action,Adventure,Fantasy            3
..                        ...          ...
995       Crime,Drama,Mystery            3
996                    Horror            1
997       Drama,Music,Romance            3
998          Adventure,Comedy            2
999     Comedy,Family,Fantasy            3

[1000 rows x 2 columns]

# Handle missing values in 'Revenue (Millions)' and 'Metascore

In [ ]:
df['Revenue (Millions)'].fillna(df['Revenue (Millions)'].median(), inplace=True)
df['Metascore'].fillna(df['Metascore'].median(), inplace=True)
#You're accessing a copy of the column and modifying it inplace — which
#means changes might not apply to the original DataFrame, or might behave inconsistently later.

/tmp/ipython-input-18-3035495983.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Revenue (Millions)'].fillna(df['Revenue (Millions)'].median(), inplace=True)
/tmp/ipython-input-18-3035495983.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Metascore'].fillna(df['Metascore'].median(), inplace=True)

correct code

In [ ]:
#soltn : Instead of using inplace=True, assign the result back to the column directly:This
#is the recommended and future-safe way to handle missing values without any warning.
df['Revenue (Millions)'] = df['Revenue (Millions)'].fillna(df['Revenue (Millions)'].median())
df['Metascore'] = df['Metascore'].fillna(df['Metascore'].median())
print(df[['Revenue (Millions)', 'Metascore']].head(10))
#This code handles missing data (NaN values) in the 'Revenue (Millions)' and 'Metascore' columns of a DataFrame df. Missing data can cause errors or misleading results in analysis, so it's often filled (or imputed) with
# a meaningful value. Here, the code uses the median of each column to fill in the missing values. The median is the middle value when all data points are
#sorted and is a good choice because it is not affected by extreme outliers, unlike the mean.

#In the first line, the code replaces all NaN values in the 'Revenue (Millions)' column with the median revenue calculated from the existing (non-missing) values in that column.
#The second line does the same for the 'Metascore' column—filling all missing metascores with the column's median score. This ensures that the DataFrame has no missing
#values in these two important columns, which makes the data suitable for further analysis or machine learning models.

#Finally, the third line prints the first 10 rows of the cleaned 'Revenue (Millions)' and 'Metascore' columns using .head(10), allowing you to inspect the changes and confirm that the missing values
# have been handled appropriately.

   Revenue (Millions)  Metascore
0             333.130       76.0
1             126.460       65.0
2             138.120       62.0
3             270.320       59.0
4             325.020       40.0
5              45.130       42.0
6             151.060       93.0
7              47.985       71.0
8               8.010       78.0
9             100.010       41.0

# Top 5 movies by Rating

In [ ]:
top5_rating = df.sort_values(by='Rating', ascending=False).head(5)
print("\nTop 5 Movies by Rating:\n", top5_rating[['Movie_Title', 'Rating']])
#This code identifies and displays the top 5 highest-rated movies in the DataFrame `df`. It first sorts the DataFrame by the `'Rating'` column in descending order using `sort_values(by='Rating', ascending=False)`,
#so that the movies with the highest ratings appear at the top. Then, `.head(5)` selects the first five rows from this sorted DataFrame, effectively capturing the top 5 movies based on their rating. These rows are
#\\ stored in the variable `top5_rating`. Finally, `print(top5_rating[['Movie_Title', 'Rating']])` displays only the movie titles and their corresponding ratings, providing a clear view of the highest-rated movies in the dataset.

# Top 5 movies by rating

Top 5 Movies by Rating:
           Movie_Title  Rating
54    The Dark Knight     9.0
80          Inception     8.8
117            Dangal     8.8
36       Interstellar     8.6
249  The Intouchables     8.6

# Movies with highest/lowest revenue

In [ ]:
#Movies with highest and lowest revenue
# Find the row with highest revenue
highest_revenue = df[df['Revenue (Millions)'] == df['Revenue (Millions)'].max()]
print("Movie(s) with Highest Revenue:")
print(highest_revenue)

# Find the row with lowest revenue
lowest_revenue = df[df['Revenue (Millions)'] == df['Revenue (Millions)'].min()]
print("\nMovie(s) with Lowest Revenue:")
print(lowest_revenue)

#This code is used to find and display the movie(s) with the **highest** and **lowest revenue** from the `'Revenue (Millions)'` column in the DataFrame `df`.
# First, it identifies the **maximum revenue value** using `df['Revenue (Millions)'].max()` and then filters the DataFrame to get the row(s) where the revenue
# matches this maximum value. The result is stored in `highest_revenue` and printed with a label. Similarly, it finds the **minimum revenue value** using `.min()`
# and filters the DataFrame for row(s) with that value, storing the result in `lowest_revenue` and printing it. This approach ensures that all movies with the exact
#highest or lowest revenue are displayed, even if multiple movies share the same revenue figure.

Movie(s) with Highest Revenue:
    Rank                                 Movie_Title  \
50    51  Star Wars: Episode VII - The Force Awakens

                       Genre  \
50  Action,Adventure,Fantasy

                                          Description     Director  \
50  Three decades after the defeat of the Galactic...  J.J. Abrams

                                               Actors  Year  \
50  Daisy Ridley, John Boyega, Oscar Isaac, Domhna...  2015

    Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore  \
50                136     8.1  661608              936.63       81.0

    Genre_Count
50            3

Movie(s) with Lowest Revenue:
     Rank       Movie_Title                 Genre  \
231   232  A Kind of Murder  Crime,Drama,Thriller

                                           Description      Director  \
231  In 1960s New York, Walter Stackhouse is a succ...  Andy Goddard

                                                Actors  Year  \
231  Patrick Wilson, Jessica Biel, Haley Bennett, V...  2016

     Runtime (Minutes)  Rating  Votes  Revenue (Millions)  Metascore  \
231                 95     5.2   3305                 0.0       50.0

     Genre_Count
231            3

# Avg. rating by Director

In [ ]:
# Calculate average rating per director
avg_rating_director = df.groupby('Director')['Rating'].mean().sort_values(ascending=False)

# Display the result
print("Average Rating by Director (High to Low):")
print(avg_rating_director)
#This code calculates and displays the **average movie rating for each director**, sorted from highest to lowest. It uses `groupby('Director')` to group all rows in the DataFrame `df`
 #by the director's name. Then, for each group (i.e., each director), it computes the **mean rating** using `['Rating'].mean()`. The resulting series contains directors as the index and
 #their corresponding average movie ratings as the values. By applying `.sort_values(ascending=False)`, the series is sorted in **descending order**, so directors with the highest average
 #ratings appear first. Finally, the sorted list of directors and their average ratings is printed to show who consistently produced the highest-rated films.

Average Rating by Director (High to Low):
Director
Nitesh Tiwari                       8.80
Christopher Nolan                   8.68
Olivier Nakache                     8.60
Makoto Shinkai                      8.60
Florian Henckel von Donnersmarck    8.50
                                    ...
Micheal Bafaro                      3.50
Jonathan Holbrook                   3.20
Shawn Burkett                       2.70
James Wong                          2.70
Jason Friedberg                     1.90
Name: Rating, Length: 644, dtype: float64

# Movies per year

In [ ]:
movies_per_year = df['Year'].value_counts().sort_index()
print("Number of Movies Released Each Year:")
print(movies_per_year)
#This code calculates and displays the **number of movies released each year** based on the `'Year'` column in the DataFrame `df`. It uses `value_counts()` to count how many
#times each year appears in the column, which effectively gives the number of movies released in each specific year. Since `value_counts()` returns the counts in descending order
#by default, `.sort_index()` is used to sort the result by year in ascending order, making it easier to read chronologically. The result, stored in `movies_per_year`, is then printed
#to show a clear year-wise distribution of movie releases.

Number of Movies Released Each Year:
Year
2006     44
2007     53
2008     52
2009     51
2010     60
2011     63
2012     64
2013     91
2014     98
2015    127
2016    297
Name: count, dtype: int64

# Movies with rating > 8 & revenue > 100M

In [ ]:
high_rating_revenue = df[(df['Rating'] > 8) & (df['Revenue (Millions)'] > 100)]
print("Movies with Rating > 8 and Revenue > $100 Million:")
print(high_rating_revenue)
#This code filters and displays movies from the DataFrame `df` that have both a **rating greater than 8** and a **revenue over \$100 million**.
#It uses a **boolean condition** with two parts: `df['Rating'] > 8` checks for movies with high ratings, and `df['Revenue (Millions)'] > 100` checks
# for movies with high box office revenue. The `&` operator combines these conditions, and the entire expression is enclosed in parentheses to ensure correct evaluation.
# The resulting DataFrame, `high_rating_revenue`, contains only the rows that meet both criteria. Finally, the code prints these movies, helping to identify films that are not
# only critically acclaimed but also commercially successful.

Movies with Rating > 8 and Revenue > $100 Million:
     Rank                                   Movie_Title  \
0       1                       Guardians of the Galaxy
6       7                                    La La Land
36     37                                  Interstellar
50     51    Star Wars: Episode VII - The Force Awakens
54     55                               The Dark Knight
67     68                            Mad Max: Fury Road
74     75                                      Zootopia
76     77                                  The Avengers
77     78                          Inglourious Basterds
80     81                                     Inception
82     83                       The Wolf of Wall Street
83     84                                     Gone Girl
92     93                                      The Help
99    100                                  The Departed
114   115  Harry Potter and the Deathly Hallows: Part 2
124   125                         The Dark Knight Rises
138   139                                Shutter Island
144   145                              Django Unchained
241   242                                    Inside Out
427   428                          The Bourne Ultimatum
499   500                                            Up
634   635                                        WALL·E
645   646                                   Gran Torino
688   689                                   Toy Story 3
772   773                      How to Train Your Dragon

                          Genre  \
0       Action,Adventure,Sci-Fi
6            Comedy,Drama,Music
36       Adventure,Drama,Sci-Fi
50     Action,Adventure,Fantasy
54           Action,Crime,Drama
67      Action,Adventure,Sci-Fi
74   Animation,Adventure,Comedy
76                Action,Sci-Fi
77          Adventure,Drama,War
80      Action,Adventure,Sci-Fi
82       Biography,Comedy,Crime
83          Crime,Drama,Mystery
92                        Drama
99         Crime,Drama,Thriller
114     Adventure,Drama,Fantasy
124             Action,Thriller
138            Mystery,Thriller
144               Drama,Western
241  Animation,Adventure,Comedy
427     Action,Mystery,Thriller
499  Animation,Adventure,Comedy
634  Animation,Adventure,Family
645                       Drama
688  Animation,Adventure,Comedy
772  Animation,Action,Adventure

                                           Description           Director  \
0    A group of intergalactic criminals are forced ...         James Gunn
6    A jazz pianist falls for an aspiring actress i...    Damien Chazelle
36   A team of explorers travel through a wormhole ...  Christopher Nolan
50   Three decades after the defeat of the Galactic...        J.J. Abrams
54   When the menace known as the Joker wreaks havo...  Christopher Nolan
67   A woman rebels against a tyrannical ruler in p...      George Miller
74   In a city of anthropomorphic animals, a rookie...       Byron Howard
76   Earth's mightiest heroes must come together an...        Joss Whedon
77   In Nazi-occupied France during World War II, a...  Quentin Tarantino
80   A thief, who steals corporate secrets through ...  Christopher Nolan
82   Based on the true story of Jordan Belfort, fro...    Martin Scorsese
83   With his wife's disappearance having become th...      David Fincher
92   An aspiring author during the civil rights mov...        Tate Taylor
99   An undercover cop and a mole in the police att...    Martin Scorsese
114  Harry, Ron and Hermione search for Voldemort's...        David Yates
124  Eight years after the Joker's reign of anarchy...  Christopher Nolan
138  In 1954, a U.S. marshal investigates the disap...    Martin Scorsese
144  With the help of a German bounty hunter , a fr...  Quentin Tarantino
241  After young Riley is uprooted from her Midwest...        Pete Docter
427  Jason Bourne dodges a ruthless CIA official an...    Paul Greengrass
499  Seventy-eight year old Carl Fredricksen travel...        Pete Docter
634  In the distant future, a small waste-collectin...     Andrew Stanton
645  Disgruntled Korean War veteran Walt Kowalski s...     Clint Eastwood
688  The toys are mistakenly delivered to a day-car...        Lee Unkrich
772  A hapless young Viking who aspires to hunt dra...       Dean DeBlois

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
6    Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....  2016
36   Matthew McConaughey, Anne Hathaway, Jessica Ch...  2014
50   Daisy Ridley, John Boyega, Oscar Isaac, Domhna...  2015
54   Christian Bale, Heath Ledger, Aaron Eckhart,Mi...  2008
67   Tom Hardy, Charlize Theron, Nicholas Hoult, Zo...  2015
74   Ginnifer Goodwin, Jason Bateman, Idris Elba, J...  2016
76   Robert Downey Jr., Chris Evans, Scarlett Johan...  2012
77   Brad Pitt, Diane Kruger, Eli Roth,Mélanie Laurent  2009
80   Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...  2010
82   Leonardo DiCaprio, Jonah Hill, Margot Robbie,M...  2013
83   Ben Affleck, Rosamund Pike, Neil Patrick Harri...  2014
92   Emma Stone, Viola Davis, Octavia Spencer, Bryc...  2011
99   Leonardo DiCaprio, Matt Damon, Jack Nicholson,...  2006
114  Daniel Radcliffe, Emma Watson, Rupert Grint, M...  2011
124  Christian Bale, Tom Hardy, Anne Hathaway,Gary ...  2012
138  Leonardo DiCaprio, Emily Mortimer, Mark Ruffal...  2010
144  Jamie Foxx, Christoph Waltz, Leonardo DiCaprio...  2012
241  Amy Poehler, Bill Hader, Lewis Black, Mindy Ka...  2015
427  Matt Damon, Edgar Ramírez, Joan Allen, Julia S...  2007
499  Edward Asner, Jordan Nagai, John Ratzenberger,...  2009
634  Ben Burtt, Elissa Knight, Jeff Garlin, Fred Wi...  2008
645  Clint Eastwood, Bee Vang, Christopher Carley,A...  2008
688      Tom Hanks, Tim Allen, Joan Cusack, Ned Beatty  2010
772  Jay Baruchel, Gerard Butler,Christopher Mintz-...  2010

     Runtime (Minutes)  Rating    Votes  Revenue (Millions)  Metascore  \
0                  121     8.1   757074              333.13       76.0
6                  128     8.3   258682              151.06       93.0
36                 169     8.6  1047747              187.99       74.0
50                 136     8.1   661608              936.63       81.0
54                 152     9.0  1791916              533.32       82.0
67                 120     8.1   632842              153.63       90.0
74                 108     8.1   296853              341.26       78.0
76                 143     8.1  1045588              623.28       69.0
77                 153     8.3   959065              120.52       69.0
80                 148     8.8  1583625              292.57       74.0
82                 180     8.2   865134              116.87       75.0
83                 149     8.1   636243              167.74       79.0
92                 146     8.1   342429              169.71       62.0
99                 151     8.5   937414              132.37       85.0
114                130     8.1   590595              380.96       87.0
124                164     8.5  1222645              448.13       78.0
138                138     8.1   855604              127.97       63.0
144                165     8.4  1039115              162.80       81.0
241                 95     8.2   416689              356.45       94.0
427                115     8.1   525700              227.14       85.0
499                 96     8.3   722203              292.98       88.0
634                 98     8.4   776897              223.81       59.5
645                116     8.2   595779              148.09       59.5
688                103     8.3   586669              414.98       92.0
772                 98     8.1   523893              217.39       74.0

     Genre_Count
0              3
6              3
36             3
50             3
54             3
67             3
74             3
76             2
77             3
80             3
82             3
83             3
92             1
99             3
114            3
124            2
138            2
144            2
241            3
427            3
499            3
634            3
645            1
688            3
772            3

# Group by Director: avg Rating, Revenue

In [ ]:
group_director = df.groupby('Director')[['Rating', 'Revenue (Millions)']].mean().sort_values(by='Rating', ascending=False)
print("Average Rating and Revenue by Director (Sorted by Rating):")
print(group_director)
#This code calculates the **average rating and average revenue** for each director in the DataFrame `df`, and then sorts the results by average rating in **descending order**.
#It starts with `df.groupby('Director')` to group all rows by director name. From each group, it selects the `'Rating'` and `'Revenue (Millions)'` columns using `[['Rating', 'Revenue (Millions)']]`,
#and computes the mean for both using `.mean()`. This gives a summary table where each row represents a director and shows their average movie rating and revenue. The `.sort_values(by='Rating', ascending=False)`
#part sorts this table so that directors with the highest average ratings appear at the top. Finally, the sorted result is printed, allowing you to see which directors consistently make high-quality and potentially
#high-earning films.

Average Rating and Revenue by Director (Sorted by Rating):
                                  Rating  Revenue (Millions)
Director
Nitesh Tiwari                       8.80              11.150
Christopher Nolan                   8.68             303.018
Olivier Nakache                     8.60              13.180
Makoto Shinkai                      8.60               4.680
Florian Henckel von Donnersmarck    8.50              11.280
...                                  ...                 ...
Micheal Bafaro                      3.50              47.985
Jonathan Holbrook                   3.20              47.985
Shawn Burkett                       2.70              47.985
James Wong                          2.70               9.350
Jason Friedberg                     1.90              14.170

[644 rows x 2 columns]

# Group by Year: count, avg Rating

In [ ]:
# Grouping and aggregating
group_year = df.groupby('Year').agg({
    'Movie_Title': 'count',
    'Rating': 'mean'
}).rename(columns={
    'Movie_Title': 'Movie_Count',
    'Rating': 'Avg_Rating'
})

# Display the result
print("Movies Released Per Year with Average Rating:")
print(group_year)
#This code groups the movie dataset `df` by **year** and calculates two key statistics for each year: the **number of movies released** and the **average rating** of those movies.
 #Using `df.groupby('Year')`, the data is grouped by the `'Year'` column. Then, the `.agg()` function applies aggregation operations: `'Movie_Title': 'count'` counts how many movies
  #were released in each year, and `'Rating': 'mean'` computes the average rating of the movies for that year. After aggregation, the `.rename()` method is used to rename the columns
   #to `'Movie_Count'` and `'Avg_Rating'` for better readability. The result is stored in the `group_year` DataFrame and printed, showing a clear summary of how many movies were released
   #each year along with their average audience ratings.

Movies Released Per Year with Average Rating:
      Movie_Count  Avg_Rating
Year
2006           44    7.125000
2007           53    7.133962
2008           52    6.784615
2009           51    6.960784
2010           60    6.826667
2011           63    6.838095
2012           64    6.925000
2013           91    6.812088
2014           98    6.837755
2015          127    6.602362
2016          297    6.436700

# Create a new column Profitability:
a) Revenue divided by Duration
 b) Find top 10 most profitable movies

In [ ]:
df['Profitability'] = df['Revenue (Millions)'] / df['Runtime (Minutes)']
top10_profitable = df.sort_values(by='Profitability', ascending=False).head(10)

print("Top 10 Most Profitable Movies (Revenue/Runtime):")
print(top10_profitable[['Movie_Title', 'Profitability']])

Top 10 Most Profitable Movies (Revenue/Runtime):
                                    Movie_Title  Profitability
50   Star Wars: Episode VII - The Force Awakens       6.886985
85                               Jurassic World       5.259516
119                                Finding Dory       5.013299
87                                       Avatar       4.694506
76                                 The Avengers       4.358601
15                      The Secret Life of Pets       4.233448
688                                 Toy Story 3       4.028932
12                                    Rogue One       4.001278
174                                      Frozen       3.928824
797                             Despicable Me 2       3.755612

# Create a column that categorizes movies by rating:
a) Rating < 6: Poor
b) 6 ≤ Rating < 7.5: Average
c) Rating ≥ 7.5: Excellent

In [ ]:
def categorize_rating(r):
    if r < 6:
        return 'Poor'
    elif r < 7.5:
        return 'Average'
    else:
        return 'Excellent'

df['Rating_Category'] = df['Rating'].apply(categorize_rating)
print("\nCount of Movies in Each Rating Category:")
print(df['Rating_Category'].value_counts())
#This code calculates a **profitability metric** for each movie by dividing its revenue by its runtime and then identifies the **top 10 most profitable movies** based on that metric.
# The new column `'Profitability'` is created by dividing `'Revenue (Millions)'` by `'Runtime (Minutes)'`, giving a rough estimate of how much revenue a movie generated **per minute** of
# its runtime. This allows for comparing movies not just by total revenue but also by how efficiently they earned money in terms of time. The DataFrame is then sorted in **descending order**
#by the `'Profitability'` column using `.sort_values()`, and the top 10 rows are selected using `.head(10)`. Finally, the code prints the movie titles and their profitability scores, providing
# insight into which films delivered the most revenue relative to their length.

Count of Movies in Each Rating Category:
Rating_Category
Average      586
Excellent    230
Poor         184
Name: count, dtype: int64

# Create a custom function to score movies based on:
i) Apply row['Rating'] * 10 + row['Revenue (Millions)'] as High score
Apply a function to dataset to assign the score

In [ ]:
def custom_score(row):
    return row['Rating'] * 10 + row['Revenue (Millions)']

df['High_Score'] = df.apply(custom_score, axis=1)
# Display the first 10 rows with Title, Rating, Revenue, and High_Score
print(df[['Movie_Title', 'Rating', 'Revenue (Millions)', 'High_Score']].head(10))
#This code defines and applies a **custom scoring system** to evaluate movies by combining their **rating** and **revenue** into a single score.
#The `custom_score` function takes a row of the DataFrame and calculates the score using the formula: `Rating * 10 + Revenue (Millions)`. Multiplying
 #the rating by 10 ensures that both rating and revenue contribute significantly to the final score, even though they are on different scales. The function
  #is applied to each row using `df.apply(custom_score, axis=1)`, and the results are stored in a new column called `'High_Score'`. Finally, the code prints the
  #first 10 rows of the DataFrame, showing the movie title, rating, revenue, and the computed high score. This approach helps in identifying movies that are both
  # critically acclaimed and commercially successful, giving a more balanced view of a movie’s overall impact.

               Movie_Title  Rating  Revenue (Millions)  High_Score
0  Guardians of the Galaxy     8.1             333.130     414.130
1               Prometheus     7.0             126.460     196.460
2                    Split     7.3             138.120     211.120
3                     Sing     7.2             270.320     342.320
4            Suicide Squad     6.2             325.020     387.020
5           The Great Wall     6.1              45.130     106.130
6               La La Land     8.3             151.060     234.060
7                 Mindhorn     6.4              47.985     111.985
8       The Lost City of Z     7.1               8.010      79.010
9               Passengers     7.0             100.010     170.010