<a href="https://colab.research.google.com/github/Sereenamariyam/Python_assignment/blob/main/python_2nd_assignment_b6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics Assignment

### Question 1
Write a function to compute number of vowels in a string given as input

In [ ]:
def your_function_1(input_string = " Sereena"):

  vowels = "aeiouAEIOU"
  count = 0
  for char in input_string:
    if char in vowels:
      count += 1
  return count
your_function_1()

4

### Question 2
Write a function that checks whether a number is prime.

In [ ]:
# Your code here
def your_function_2(n):
  if n <= 1:
        return False
  for i in range(2, n):
    if n % i == 0:
      return False
  return True
your_function_2(7)

True

### Question 3
Write a function to return the maximum of two numbers.

In [ ]:
# Your code here
def your_function_3(a, b):
  if a > b:
    return a
  else:
    return b
your_function_3(8,7)

8

### Question 4
Write a function to return the factorial of a number.

In [ ]:
# Your code here
def your_function_4():
  n = 6
  fact = 1
  for i in range(1, n + 1):
    fact *= i
    print(fact)
your_function_4()

1
2
6
24
120
720

### Question 5
Write a function to reverse a string without string indexing.

In [ ]:
# Your code here
def your_function_5(input_string):
  reversed_string = ""
  for char in input_string:
    reversed_string = char + reversed_string
  return reversed_string
your_function_5("sereena")

'aneeres'

### Question 6
Write a function to check if a string is a palindrome.

In [ ]:
# Your code here
def your_function_6():
  s = "malayalam"
  if s == s[::-1]:
    print("Yes")
  else:
    print("No")
your_function_6()

Yes

### Question 7
Write a function to count vowels in a string.

In [ ]:
# Your code here
def your_function_7():

  n = input("enter a string: ")
  vowels = "aeiouAEIOU"
  count = 0
  for char in n:
    if char in vowels:
      count += 1
  return count
your_function_7()

enter a string: sereena

4

### Question 8
Write a function that returns the sum of a list.

In [ ]:
# Your code here
def your_function_8(a=[1,2,3,4,5,6]):

  return sum(a)

print(your_function_8())

21

### Question 9
Write a function to find the smallest number in a list.

In [ ]:
# Your code here
def your_function_9(n = [1,2,3,4,5,6,7]):



  smallest = n[0]
  for number in n:
    if number < smallest:
      smallest = number
  return smallest
your_function_9()

1

### Question 10
Write a function to remove duplicates from a list.

In [ ]:
# Your code here
def your_function_10(input_list = [1,2,3,3,5,5,4,8] ):
  return list(set(input_list))
your_function_10()

[1, 2, 3, 4, 5, 8]

### Question 11
Write a function to sort a list in ascending order without using builtin sort function

In [ ]:
# Your code here
def your_function_11(a = [6, 4, 2, 7, 9, 3, 5]):
    n = len(a)
    for i in range(n):
        for j in range(0, n - i - 1):
            if a[j] > a[j + 1]:
                # Swap the elements
                a[j], a[j + 1] = a[j + 1], a[j]
    print("Sorted list:", a)

your_function_11()

Sorted list: [2, 3, 4, 5, 6, 7, 9]

### Question 12
Write a function that returns the length of a string.

In [ ]:
# Your code here
def your_function_12(stringg="sereena"):
  return len(stringg)
print(your_function_12())
print(your_function_12("hello"))

7
5

### Question 13
Write a function to count words in a sentence.

In [ ]:
# Your code here
def your_function_13(sentence):
  words = sentence.split()
  return len(words)
your_function_13("my name is sereena")

4

In [ ]:
def your_function_13(sentence):
  word_count = 0
  in_word = False  # Flag to track if we are currently inside a word

  for char in sentence:
    if char.isspace():
      in_word = False  # We are outside a word if the character is a space
    elif not in_word:
      # If we encounter a non-space character and were not in a word,
      # it's the start of a new word.
      word_count += 1
      in_word = True

  return word_count

### Question 14
Write a function to convert Celsius to Fahrenheit.

In [ ]:
# Your code here
def your_function_14(celsius):
  fahrenheit = (celsius * 9/5) + 32
  return fahrenheit
your_function_14(78)

172.4

### Question 15
Write a function to check if a number is palindrome.

In [ ]:
# Your code here
def your_function_15():
    s = str(55655)
    if s == s[::-1]:
      print("Yes")
    else:
      print("No")
your_function_6()

Yes

### Question 16
Write a function to return all even numbers in a list.

In [ ]:
# Your code here
def your_function_16(numbers= [1,2,3,4,5,6,7,8,9]):
  even_numbers = []
  for number in numbers:
    if number % 2 == 0:
      even_numbers.append(number)
  return even_numbers
your_function_16()

[2, 4, 6, 8]

### Question 17
Write a function to return the nth Fibonacci number.

In [ ]:
# Your code here
def your_function_17(n):

    a = 0
    b = 1

    # Check if n is less than 0
    if n < 0:
        print("Incorrect input")

    # Check if n is equal to 0
    elif n == 0:
        return 0

    # Check if n is equal to 1
    elif n == 1:
        return b
    else:
        for i in range(1, n):
            c = a + b
            a = b
            b = c
        return b

print(your_function_17(9))

34

### Question 18
Write a function to calculate the average of a list.

In [ ]:
# Your code here
def your_function_18(a=[1,2,3,4,5,6]):

  total = sum(a) # Calculate the sum of the list
  count = len(a) # Get the number of elements in the list
  average = total / count # Calculate the average
  return average
print(your_function_18())

3.5

### Question 19
Write a function that returns a dictionary of character counts.

In [ ]:
# Your code here
def your_function_19(input_str="sereena"):
    char_count = {}
    for char in input_str:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
    return char_count

print(your_function_19())

{'s': 1, 'e': 3, 'r': 1, 'n': 1, 'a': 1}

### Question 20
Write a function that returns True if all list elements are unique.

In [ ]:
# Your code here
def your_function_20(input_list = [ 1,2,3,4,5,6,7,8,9] ):
  return len(input_list) == len(set(input_list))
your_function_20()

True

### Question 21
Write a function that returns dot product of two list of numbers

In [77]:
# Your code here
def your_function_21(l1 = [1,2,3], l2 = [4,5,6]):
    if len(l1) != len(l2):
        raise ValueError("Lists must have the same length for dot product.")

    result = 0
    for i in range(len(l1)):
        result += l1[i] * l2[i]
    return result

# Test examples
print(your_function_21())
print(your_function_21([2, 3], [1, 4]))

32
14

### Question 22
Write a function that returns the projection of vector a onto vector b. Both a and b are given as list of numbers

In [81]:
# Your code here
import math
def your_function_22(a, b):
    if len(a) != len(b):
        return "Error"

    dot_product = 0
    for i in range(len(a)):
        dot_product += a[i] * b[i]

    # (||b||)
    magnitude_b_squared = 0
    for i in range(len(b)):
        magnitude_b_squared += b[i] ** 2
    magnitude_b = math.sqrt(magnitude_b_squared)

    # (a • b / ||b||)
    projection_num = dot_product / magnitude_b
    return projection_num


print(your_function_22([3, 4], [1, 0]))

3.0

### Question 23
Write a function to return common elements between two lists.

In [83]:
# Your code here
def your_function_23(list1,list2):

  return list(set(list1) & set(list2))

print(your_function_23([1, 2, 3, 4], [3, 4, 5, 6]))
print(your_function_23(['a', 'b', 'c'], ['b', 'c', 'd']))

[3, 4]
['c', 'b']

### Question 24
Create a class Vector that supports addition, dot product, and magnitude.

In [84]:
# Your code here
import math

class Vector:
    def __init__(self, values):
        self.values = values

    def __add__(self, other):
        result = []
        for i in range(len(self.values)):
            result.append(self.values[i] + other.values[i])
        return Vector(result)

    def dot(self, other):
        dot_product = 0
        for i in range(len(self.values)):
            dot_product += self.values[i] * other.values[i]
        return dot_product

    def magnitude(self):
        sum_of_squares = 0
        for i in range(len(self.values)):
            sum_of_squares += self.values[i] ** 2
        return math.sqrt(sum_of_squares)

    def __str__(self):
        return str(self.values)

v1 = Vector([3, 4])
v2 = Vector([1, 2])


v3 = v1 + v2
print("Addition:", v3)

print("Dot product:", v1.dot(v2))


print("Magnitude of v1:", v1.magnitude())

Addition: [4, 6]
Dot product: 11
Magnitude of v1: 5.0

### Question 25
Implement a function to return all outliers in a list based on the IQR method.

In [86]:
# Your code here
my_list1 = [7, 11, 23, 42, -3, -21, 26, 30]
sorted_list = sorted(my_list1)
def your_function_25(sorted_list, percentile):
    N = len(sorted_list)
    p = (percentile / 100) * (N + 1)
    lower_index = int(p) - 1
    upper_index = lower_index + 1
    fraction_num = p - int(p)

    lower_value = sorted_list[lower_index]
    higher_value = sorted_list[upper_index]

    return lower_value + fraction_num * (higher_value - lower_value)

q1 = your_function_25(sorted_list, 25)
q3 = your_function_25(sorted_list, 75)

iqr = q3 - q1
lower_bound = q1 - 1.5 * iqr
print("the lower bound is",lower_bound)
outliers = []
for i in my_list1:
    if i < lower_bound or i > lower_bound:
        outliers.append(i)

if len(outliers) > 0:
    print("Outliers exist:", outliers)
else:
    print("No outliers")

the lower bound is -44.75
Outliers exist: [7, 11, 23, 42, -3, -21, 26, 30]

### Question 26
Function with default arguments:
Create a function to compute variance with an option to use sample or population formula

In [92]:
# Your code here

def your_function_26(data=None, sample=True):

    if data is None or len(data) == 0:
        return "Data list is empty or None"

    mean = sum(data) / len(data)

    # Sum of squared differences from mean
    squared_diffs = 0
    for value in data:
        squared_diffs += (value - mean) ** 2

    if sample:
        # Sample variance: divide by (n - 1)
        if len(data) < 2:
            return "Cannot compute sample variance with less than 2 data points"
        return squared_diffs / (len(data) - 1)
    else:
        # Population variance: divide by n
        return squared_diffs / len(data)
print(your_function_26([4,8,6,5,3]))

3.7

### Question 27
Create a list of squares of even numbers between 1 and 20 using list comprehension.

In [94]:
# Your code here
def your_function_27():
    squares = [x**2 for x in range(1, 21) if x % 2 == 0]
    print(squares)

your_function_27()

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

### Question 28
Write a function that returns the L1 and L2 norms of a vector given as list

In [99]:
# Your code here

import math

def your_function_28(vector):
    l1 = 0
    l2_squared = 0

    for value in vector:
        l1 += abs(value)         # Absolute value for L1 norm
        l2_squared += value**2   # Square for L2 norm

    l2 = math.sqrt(l2_squared)   # Final L2 norm

    return l1, l2
v = [3, -4, 1]
l1, l2 = your_function_28(v)

print("L1 norm(Manhattan distance) ", l1)   # ➝ 8
print("L2 norm(Euclidean distance) ", l2)   # ➝ sqrt(26) ≈ 5.099

L1 norm(Manhattan distance)  8
L2 norm(Euclidean distance)  5.0990195135927845

### Question 29
Write a function that computes the 95% confidence interval for the mean of a list of numbers assuming normal distribution.

In [100]:
# Your code here

import math

def your_function_29(data):
    if not data or len(data) < 2:
        return "Need at least 2 data points"

    n = len(data)
    mean = sum(data) / n

    # Calculate sample standard deviation
    squared_diffs = 0
    for x in data:
        squared_diffs += (x - mean) ** 2
    std_dev = math.sqrt(squared_diffs / (n - 1))

    # Standard error of the mean
    sem = std_dev / math.sqrt(n)

    # For 95% confidence, z-score ≈ 1.96
    z = 1.96
    margin_of_error = z * sem

    lower_bound = mean - margin_of_error
    upper_bound = mean + margin_of_error

    return (lower_bound, upper_bound)
data = [10, 12, 9, 11, 13, 12, 10, 14]
print("95% Confidence Interval:", your_function_29(data))

95% Confidence Interval: (10.20734208776714, 12.54265791223286)

### Question 30
Given a list of categorical values, create a frequency distribution dictionary.

In [101]:
# Your code here
def your_function_30(data):
    if not data:
        return "Data list is empty or None"

    freq_dict = {}
    for item in data:
        if item in freq_dict:
            freq_dict[item] += 1
        else:
            freq_dict[item] = 1
    return freq_dict
categories = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
result = your_function_30(categories)
print(result)

{'apple': 3, 'banana': 2, 'orange': 1}